* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

a {
    text-decoration: none;
}

:root {
    --orange: rgb(255, 68, 0);
    --white: #fff;
}

.header {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 2rem 6%;
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.5);
}
.header-div {
    display: flex;
    align-items: center;
}

.header ion-icon{
    font-size: 6rem;
    color: var(--white);
}

.header-div h2 {
    color: var(--white);
    font-size: 3rem;
    padding-left: 2rem;
}

.header-div h2:hover {
    color: var(--orange);
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar a {
    font-size: 3rem;
    color: var(--white);
    margin-left: 2rem;
}

.header .navbar a:hover {
    color: var(--orange);
}

.navbar ion-icon {
    font-size: 5rem;
    display: none;
}

.main {
    height: 100vh;
    background: url('/interplanetary-expeditions/assets/images/mars-background.jpg') no-repeat;
    /* background: url('/interplanetary-expeditions/assets/images/mars-horizon.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    background-position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    color: var(--white);
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    margin-right: auto;
    margin-left: 15rem;
}

.main h1:hover {
    color: var(--orange);
}

.main button {
    margin-right: auto;
    margin-left: 28rem;
    margin-top: 5rem;
    color: var(--white);
    font-weight: 500;
    font-size: 2rem;
    padding: 2rem 5rem;
    border: 1px solid var(--white);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}


@media (max-width: 1200px) {
    .header {
        padding: 2rem;
    }

    .section {
        padding: 3rem 2rem;
    }

    html {
        font-size: 60%;
    }
}

@media (max-width: 991px) {
    .header .navbar a {
        display: none;
    }

    .navbar ion-icon {
        display: block;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .main h1 {
        margin-left: 3rem;
    }

    .main button {
        margin-left: 15rem;
    }
}