* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7.5rem;
}

a {
    text-decoration: none;
}

section {
    padding: 4rem 10%;
}

:root {
    --orange: rgb(255, 68, 0);
    --white: #fff;
}

.header {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 2rem 6%;
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.5);
}

.header.onscroll {
    background-color: black;
}

.header-div {
    display: flex;
    align-items: center;
}

.header ion-icon {
    font-size: 6rem;
    color: var(--white);
}

.header ion-icon:hover {
    color: var(--orange);
}

.header-div h2 {
    color: var(--white);
    font-size: 3rem;
    padding-left: 2rem;
}

.header-div h2:hover {
    color: var(--orange);
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar a {
    font-size: 2.8rem;
    color: var(--white);
    margin-left: 2.5rem;
}

.header .navbar a:hover {
    color: var(--orange);
}

.navbar ion-icon {
    font-size: 5rem;
    display: none;
}

.main {
    height: 100vh;
    background: url('/interplanetary-expeditions/assets/images/mars-background.jpg') no-repeat;
    /* background: url('/interplanetary-expeditions/assets/images/mars-horizon.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    background-position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    color: var(--white);
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    margin-right: auto;
}

.main h1:hover {
    color: var(--orange);
}

.main button {
    margin-right: auto;
    margin-left: 12rem;
    margin-top: 5rem;
    color: var(--white);
    font-weight: 500;
    font-size: 2rem;
    padding: 2rem 5rem;
    border: 1px solid var(--white);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transform: skew(-14deg);
}

.main button:hover {
    border: 1px solid black;
    color: black;
    background-color: var(--white);
}

.box-jr {
    border-bottom: 0.2rem solid var(--orange);
    width: 25rem;
    margin-bottom: 5rem;
}

.section-heading {
    margin-top: 5rem;
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
    font-style: italic;
}

.about {
    margin-bottom: 25rem;
    margin-top: 10rem;
}

.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
}

.about .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .box-container .box p {
    font-size: 2.0rem;
    line-height: 2.5rem;
}

.about .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.team .box-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10rem;
    
}

.team .box-container .box {
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); 
    width: 35rem;
    margin: 1.5rem;
}

.team .box-container .box:hover {
    box-shadow: none;
}

.box-jr-2 {
    display: flex;
    justify-content: center;
    border: 0.3rem solid var(--orange);
    width: 100%;
    margin-top: -8.5rem;
    margin-bottom: 5rem;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 16px;
    position: sticky;
    transform: skew(-20deg);
    margin-right: 80%;
}

.box-jr-2 h2 {
    letter-spacing: 0.2rem;
    font-size: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 30%;
}

.box-jr-2 h2:hover {
    color: var(--orange);
}

.team .box-container .box .image {
    height: 45rem;
    overflow: hidden;
}

.team .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .box-container .box .image img:hover {
    transform: scale(1.1);
}

.team .box-container .box .astronaut-info h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-style: italic;
}

.team .box-container .box .astronaut-info h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.team .box-container .box .astronaut-info p {
    color: rgb(88, 88, 88);
    font-size: 1.5rem;
    padding: 0rem 2rem 2rem 2rem;
}

.trips {
    height: 80vh;
    background: url('/interplanetary-expeditions/assets/images/stars-image.jpg');
    /* background-size: cover;
    background-position: fixed; */
}

.box-jr-3 {
    display: flex;
    justify-content: center;
    border: 0.3rem solid rgb(30, 30, 255);
    width: 100%;
    margin-top: -8.5rem;
    margin-bottom: 5rem;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 16px;
    position: sticky;
    transform: skew(-20deg);
}

.box-jr-3 h2 {
    letter-spacing: 0.2rem;
    font-size: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.box-jr-3 h2:hover {
    color: rgb(30, 30, 255);
}

.trips .box-container .box {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.3rem solid white;
    border-radius: 3rem;
    margin-bottom: 1.5rem;
}

.trips .box-container .box:hover {
    background-color: black;
}

.left-section {
    text-align: center;
    margin: 2rem 0rem 2rem 3rem;
}

.left-section h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.left-section p {
    font-size: 3rem;
}

.middle-section h3 {
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center ;
}

.middle-section h3 span {
    font-weight: 500;
    margin-left: 2rem;
}

.right-section button {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    border-radius: 16rem;
    font-weight: 600;
}

.right-section button:hover {
    background-color: black;
    color: white;
}

.right-section {
    margin: 2rem 3rem 2rem 0rem;
}

.pricing {
    border-bottom: 0.2rem solid black;
    background-color: rgb(238, 238, 238);
}

.pricing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 0.2rem solid black;
    /* width: 40%; */
}

.pricing-header h2 {
    font-size: 5rem;
    margin-top: 5rem;
    font-style: italic;
    /* letter-spacing: 0.2rem; */
}

.pricing-header p {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pricing .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.pricing .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.pricing .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pricing .box-container .box .image h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    color: white;
    font-size: 4.5rem;
}

.mars-h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -350%);
    color: white;
    font-size: 4.5rem;
}

.pricing .box-container .box {
    text-align: center;
    width: 35rem;
    margin: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
}

.pricing .box-container .box:hover {
    box-shadow: none;
}

.base-price {
    margin-bottom: 2rem;
}

.base-price h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.base-price p {
    font-size: 1.5rem;
    padding-bottom: .5rem;
    text-decoration: underline;
}

.add-on-label div {
    display: flex;
    flex-direction: row;
    
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    align-items: center;
}

.add-on-label div input {
    margin-left: 5rem;
}

.add-on-label div p {
    margin-left: 2.5rem;
}

.purchase-button {
    margin-bottom: 2rem;
    background-color: black;
    color: white;
    padding: 1.5rem 4rem;
    font-size: 2rem;
    border-radius: 3rem;
    margin-top: 3rem;
}

.purchase-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.box-jr-4 {
    border-bottom: 0.2rem solid var(--orange);
    width: 30rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
}

.box-jr-4 h2 {
    text-align: center;
    font-size: 5rem;
}

.contact div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
}

.contact .box-container .box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

.contact .box-container .box-right {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
}

.contact .box-container .box h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.contact .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-right: 8rem;
    
}

.contact-paragraph {
    margin-bottom: 5rem;
}

.contact .box-container .box div {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-top: 1rem;
    align-items: center;
}

.contact .box-container .box div ion-icon {
    font-size: 2.5rem;
}

.contact .box-container .box div p {
    font-size: 1.5rem;
    margin-left: 1rem;
}


.contact .box-container .box-right input {
    border: 0.1rem solid black;
    padding: 1.5rem;
    margin-bottom: 1rem;
    margin: 2rem 2rem 0rem 2rem;
    border-radius: 2rem;
}

.contact .box-container .box-right textarea {
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 2rem 2rem 4rem 2rem;
    border-radius: 2rem;
}

.contact .box-container .box-right button {
    margin-top: 1rem;
    padding: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin: 0rem 2rem 2rem 2rem;
    background-color: black;
    width: 20rem;
    color: white;
    align-self: center;
    border-radius: 1.5rem;
}

.contact .box-container .box-right button:hover {
    background-color: var(--orange);
    color: black;
}

.footer {
    background-color: black;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

.footer-div ion-icon {
    font-size: 6rem;
    color: white;
}

.footer-div h2 {
    font-size: 3rem;
    margin-left: 1rem;
    color: white;
}

.footer-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-div-2 p {
    color: white;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

@media (max-width: 1200px) {
    .header {
        padding: 2rem;
    }

    .section {
        padding: 3rem 2rem;
    }

    html {
        font-size: 60%;
    }
}

@media (max-width: 991px) {
    .header .navbar a {
        display: none;
    }

    .navbar ion-icon {
        display: block;
    }

    .trips .box-container .box {
        flex-direction: column;
        justify-content: center;
    }

    .right-section {
        margin-left: 5rem;
    }

    .trips {
        height: 160vh;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .main h1 {
        margin-left: 3rem;
    }

    .main button {
        margin-left: 12rem;
    }

    .right-section {
        margin-left: 4rem;
    }
}

@media (max-width: 390px) {
    .main button {
        margin-left: 9rem;
    }

    .box-jr-2 h2 {
        font-size: 3rem;
    }

    .footer-div h2 {
        font-size: 2rem;
    }
}

@media (max-width: 350px) {
    .main button {
        margin-left: 6rem;
    }

    .trips {
        height: 200vh;
    }

    
}